body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  color: #4a3c36;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.12);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  width: 300px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #ffb4b8;
  justify-content: space-between;
  color: #4a3c36;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0 10px 9px 8px;
}

.form-toggle button:hover {
  background-color: #f3c6f1;
}

.form-toggle .active {
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  color: #4a3c36;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
  color: #4a3c36;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 4px solid #ffcfd1;
  border-radius: 80px;
  background-color: #fff6f6;
  color: #4a3c36;
}

::placeholder {
  color: #8889a0;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #5e3815;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form button {
  padding: 10px;
  background-color: #ffb4b8;
  color: #4a3c36;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.form button:hover {
 background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.form a {
  color: #6e4d4d;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
}

.form p {
  text-align: center;
   color: #4a3c36;
}

.form p a {
 color: #a85a79;
  text-decoration: underline;
}
