body{
    margin: 0;
    padding: 0;
}

.header{
  width: 99vw;
  display: flex;
  justify-content: space-between; 
  margin-top: 0;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 5px;
  z-index: 1000;
}

.nav{
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  color: #c7a26e;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.nav a{
  text-decoration: none;
  color: #c7a26e;
}

.nav a:hover {
    background-color: #d2691e;
    color: white; 
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

 .logo img{
  width: 90px;
  height: 80px;
}